@import "../../global.scss" ;

.introl{
    display: flex;
    background-color: white;
    
    @include mobile{
        
        flex-direction: column;
    }
    
    .left{
        flex: 0.5;
        
        @include mobile{
            flex: 0.7;
        }

        .imgContainer{
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        
        
        }
        
        img{
            width: 500px;
            height: 500px;
            border-radius: inherit;
            
            @include mobile{
                width: 300px;
                height: 300px;
                overflow-y: hidden;
            }
            // &:hover{
            //     box-shadow: 1px 0px 500px  40px rgba($color: #66FFFF, $alpha: 0.9);
            // }
        }
    }
    .right{
        flex: 0.5;
        padding: 50px;
        
        @include mobile {
         padding-left: 30px;       
        }
        .wrapper{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;

            @include mobile {
                
                height: 100%;
                margin-left: 10px;
                justify-content: flex-start;
            }
            button{
                width: 30%;
            }
            h1{
                font-size: 60px;
                margin: 10px 0;

                @include mobile{
                    text-align: center;
                    
                }
            }
            h2{
                font-weight: 400;
                font-size: 40px;
                @include mobile{
                    text-align: center;
                    
                }
            }
            h3{
                font-size: 30px;
                font-weight: 500;
                @include mobile{
                    text-align: center;
                    
                }
                
                span{
                    font-size: inherit;
                    color: crimson;

                }
                .ityped-cursor {
                    animation: blink 1s infinite;
                }

                @keyframes blink {
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                }
            }

            a{
                width: 100%;
                height: 40px;
                position: absolute;
                bottom: 30px;
                left: 40%;
                color: inherit;
                @include mobile {
                    top: 82%;
                    left: 45%;
                }

                .angleDown{
                    font-size: 40px;
                    animation: arrowBlink 2s infinite ease;
                    @include mobile {
                        font-size: 30px;
                    }

                }
                @keyframes arrowBlink {
                    100%{
                        opacity: 0;
                    }
                }
            }
        }
    }
}